<div class="container">
  <div class="header">
    <h1>Youssef Mohammed</h1>
    <div class="headerRight">
      <span (click)="scrollToAboutMe()">About</span>
      <span (click)="scrollToExp()">Experience</span>
      <span (click)="scrollToProjects()">Projects</span>
    </div>
  </div>
  <div class="photoAndText">
    <div class="imgContainer">
      <img src="../assets/me.jpg" />
    </div>
    <div class="textContainer">
      <span>Hello, I'm</span>
      <h1>Youssef Mohammed</h1>
      <h2>Frontend Developer</h2>
      <div class="buttonContainer">
        <button style="background-color: transparent" (click)="download()">Download CV</button>
        <a style="background-color: black; color: white;text-decoration: none;" href="https://api.whatsapp.com/send?phone=201156349259" target="_blank">
          Contact Me
        </a>
      </div>
      <div class="iconsContainer">
        <a href="https://www.linkedin.com/in/yousef-mohamed-43a8a014b/" target="_blank"><img src="../assets/in.png" /></a>
        <a href="https://github.com/joetiger2222?tab=repositories" target="_blank"><img src="../assets/github.png" /></a>
      </div>
    </div>
  </div>
  <div class="aboutMeContainer" id="aboutMe">
    <span>Get To Know More</span>
    <h1>About Me</h1>
    <div class="experienceAndEducation">
      <div class="singleEAndE">
        <img src="../assets/experience.png" />
        <h3>Experience</h3>
        <span>+1 Year</span>
        <span>Frontend Development</span>
      </div>
      <div class="singleEAndE">
        <img src="../assets/experience.png" />
        <h3>Education</h3>
        <span>Computer Science</span>
        <span>B.Sc. Bachelors Degree</span>
      </div>
    </div>
    <span>
      I am a dedicated Software Engineer. With a strong passion for
      problem-solving, I have showcased my proficiency in<br><label style="font-weight: bolder;color: black;font-size: 24px;">HTML, CSS, JavaScript,
        React JS, Angular, and Data Structures</label><br>through a diverse range of
      projects. My impressive track record includes creating interactive web
      applications, such as a dynamic lyrics website and a YouTube clone,
      reflecting my expertise in API integration, responsive design, and clean
      coding practices.
    </span>
  </div>
  <div class="aboutMeContainer" id="experience">
    <span>Explore My</span>
    <h1>Experience</h1>
    <div class="experienceAndEducation" style="justify-content: center">
      <div
        class="singleEAndE"
        style="
          width: 90%;
          max-width: 800px;
          flex-wrap: wrap;
          flex-direction: row;
          column-gap: 60px;
          padding: 20px 20px;
        "
      >
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>HTML</p>
          </div>
          <span>Experienced</span>
        </div>
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>CSS</p>
          </div>
          <span>Experienced</span>
        </div>
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>JavaScript</p>
          </div>
          <span>Experienced</span>
        </div>
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>TypeScript</p>
          </div>
          <span>Intermediate</span>
        </div>
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>React Js</p>
          </div>
          <span>Experienced</span>
        </div>
        <div class="column">
          <div class="row">
            <img src="../assets/checkmark.png" />
            <p>Angular</p>
          </div>
          <span>Intermediate</span>
        </div>
      </div>
    </div>
  </div>

  <div class="projectsSection" id="projects">
    <span>Browse My Recent</span>
    <h1>Projects</h1>
    <div class="projectsContainer">



      <div class="singleProjectContainer">
        <img src="../assets/socialmedia.jpeg" />
        <h1>Social Media (Angular)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/SocialMedia_Frontend" target="_blank"><button>Github</button></a>
          <a href="https://social-media-lac.vercel.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>


      <div class="singleProjectContainer">
        <img src="../assets/clothes.jpeg" />
        <h1>E-Commerce (Angular)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/Clothes_Ecommerce_Frontend" target="_blank"><button>Github</button></a>
          <a href="https://clothes-ecommerce-frontend.vercel.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>



      <div class="singleProjectContainer">
        <img src="../assets/resweb.jpeg" />
        <h1>ResWeb (React)</h1>
        <div class="projectButtonsContainer">
          <!-- <a href="https://github.com/joetiger2222/researcher-website" target="_blank"><button>Github</button></a> -->
          <a href="https://resweb.netlify.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
      <div class="singleProjectContainer">
        <img src="../assets/3algny.jpeg" />
        <h1>3ALGNY (React)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/Gp" target="_blank"><button>Github</button></a>
          <a href="https://3algny.netlify.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
      <div class="singleProjectContainer">
        <img src="../assets/physio.jpeg" />
        <h1>PHYSIO-TIME (Angular)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/physio_time" target="_blank"><button>Github</button></a>
          <a href="https://physio-time.vercel.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
      <div class="singleProjectContainer">
        <img src="../assets/lyrics.jpeg" />
        <h1>LYRICS (React)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/Lyrics" target="_blank"><button>Github</button></a>
          <a href="https://lyrcis-youssef.netlify.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
      <div class="singleProjectContainer">
        <img src="../assets/youtube.jpeg" />
        <h1>YOUTUBE-CLONE (React)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/youtube-clone" target="_blank"><button>Github</button></a>
          <a href="https://youtube-clone-youssef.netlify.app/" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
      <div class="singleProjectContainer">
        <img src="../assets/phone.jpeg" />
        <h1>PHONE-REVIEW (React)</h1>
        <div class="projectButtonsContainer">
          <a href="https://github.com/joetiger2222/phone-review-website" target="_blank"><button>Github</button></a>
          <a href="https://phonereviewjoe.netlify.app/MainPage" target="_blank"><button>Live Demo</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
